{% extends "base.html" %}
{% load static %}
{% block content %}
  
<center><h3>About the BeanCat Works</h3></center>  
<p>Hi!! My name is David Capuano.  I live in Brunswick, Maine, USA.
I have worked in the IT field for over 30 years and I would like to
share some of that knowledge and experience with others.</p>

<p>My experience started in the aerospace industry in the 1970′s.
I moved to working in the banking and brokerage field in New York City in the 1980′s,
and worked for Merrill Lynch for nearly 18 years.  After that, I worked in the
Pharmaceutical industry for major names such as Bristol-Meyers.</p>

<p>I have also taught in two major universities:  Rutgers University,
and New Jersey Institute of Technology.
These were great experiences and I really loved sharing my knowledge.</p>

<p>I have a great blog - just go to the "blog" link at the top of the page.  If you
are interested in the software I developed, check it out.  It costs nothing to try in
the Beta stage.  Please contact me for a login and password.  </p>

<p>Thanks, Dave Capuano</p>

{% endblock %}
