{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
<div>
              <label class="mobile_menu" for="mobile_menu">
              <span>Menu</span>
              </label>
              <input id="mobile_menu" type="checkbox">
              <ul class="nav">
              <li><a href="#"><i class="icon-home icon-large"></i></a></li>


            <!----- Full Drop Down Name ---->
              <li class="dropdown"><a href="#">Tech And All.com</a>
            <!----- Full Drop Down Name Ends Here ---->

            <!----- Full Drop Down Contents  Starts Here---->

              <div class="fulldrop">
                <div class="column">
                  <h3>Menu Header</h3>
                  <ul>
                    <li><a href="#">Tech ANd All</a></li>
                    <li><a href="#">Web Designs</a></li>
                    <li><a href="#">PSD</a></li>
                    <li><a href="#">Scripts</a></li>
                  </ul>
                </div>



                <div class="column">
                        <h3>Menu Header</h3>
                  <ul>
                    <li><a href="#">Tech ANd All</a></li>
                    <li><a href="#">Web Designs</a></li>
                    <li><a href="#">PSD</a></li>
                    <li><a href="#">Scripts</a></li>
                  </ul>
                </div>


                <div class="column">
                         <h3>Menu Header</h3>
                  <ul>
                    <li><a href="#">Tech ANd All</a></li>
                    <li><a href="#">Web Designs</a></li>
                    <li><a href="#">PSD</a></li>
                    <li><a href="#">Scripts</a></li>
                  </ul>
                </div>


                <div class="column">
                         <h3>Menu Header</h3>
                  <ul>
                    <li><a href="#">Tech ANd All</a></li>
                    <li><a href="#">Web Designs</a></li>
                    <li><a href="#">PSD</a></li>
                    <li><a href="#">Scripts</a></li>
                  </ul>
                </div>


                <div class="column">
                         <h3>Menu Header</h3>
                  <ul>
                    <li><a href="#">Tech ANd All</a></li>
                    <li><a href="#">Web Designs</a></li>
                    <li><a href="#">PSD</a></li>
                    <li><a href="#">Scripts</a></li>
                  </ul>
                </div>


                <div class="column">
                         <h3>Menu Header</h3>
                  <ul>
                    <li><a href="#">Tech ANd All</a></li>
                    <li><a href="#">Web Designs</a></li>
                    <li><a href="#">PSD</a></li>
                    <li><a href="#">Scripts</a></li>
                  </ul>
                </div>
              </div>
              </li>
              <!----- Full Drop Down Contents  Ends  Here---->

{% endblock %}
