{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The BeanCatWorks landing page">
    <meta name="author" content="David Capuano">

    <title>The BeanCatWorks - Planner</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/device-mockups/device-mockups.min.css' %}">

    <!-- Theme CSS -->
    <link href="{% static 'css/new-age.min.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<!--    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/united/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-pVJelSCJ58Og1XDc2E95RVYHZDPb9AVyXsI8NoVpB2xmtxoZKJePbMfE4mlXw7BJ" crossorigin="anonymous">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
-->
</head>

<body>
<nav class="navbar" role="banner">
    <div id="id_internal_nav_bar_container" class="container fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".right_hand_links"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img id="id_logo" src="{% static 'img/BeanCatWorksLogo.png' %}" height="45"
                                                  title="BeanCatWorks Logo" alt="BeanCatWorks logo"/></a>
        </div>

        <div class="collapse navbar-collapse right_hand_links">
            <div class="row">
                <ul id="id_header_links" class="nav navbar-nav navbar-right ">
                    <li><a id="id_feedback_link" class='feedback_link' href="#">Send feedback</a></li>
                    <li><a id="id_forums_link" href="#">Forums</a></li>
                    <li><a href="#/wiki/" id="id_help_link">Help</a></li>
                    <li><a href="#" id="id_blog_link">Blog</a></li>


                    <li><a style="font-weight: bold;" href="{% url 'account_signup' %}" id="id_signup_link">Signup</a>
                    </li>
                    <li><a style="font-weight: bold;" href="{% url 'account_login' %}" id="id_login_link">Log in</a>
                    </li>

                </ul>
            </div>


        </div>
    </div>
</nav>


{% block content %}
{% endblock %}

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <p>
            Copyright &copy; 2016 The BeanCatWorks
        </p>
    </div>
</nav>
<!--
<div id="wrap">
  <div id="main" class="container clear-top">
    <p>Copyright &copy; 2016 <a href="#/about/company_details/">The BeanCatWorks</a>
            &mdash;
    </p>
  </div>
</div>
-->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
-->
    <!-- jQuery -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="{% static 'js/new-age.min.js' %}"></script>

</body>
</html>
