{% extends "base.html" %}
{% load static %}
{% block content %}
 <center>  
<h3>This is a stub for the primary menu page.</h3>
<h4>Tu tu te du</h4>
<p>
 <div class="list-group">
  <a href="#" class="list-group-item disabled">
    Cras justo odio
  </a>
  <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
  <a href="#" class="list-group-item">Morbi leo risus</a>
  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
  <a href="#" class="list-group-item">Vestibulum at eros</a>
</div>
    
    
    
</p>
</center>
{% endblock %}
